:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#213547, rgba(255, 255, 255, 0.87));
  background-color: light-dark(#ffffff, #242424) ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: light-dark(#747bff, #535bf2);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  width: 60ch;
  margin: 0 auto;
}
